-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "users" (
    "id" SERIAL NOT NULL,
    "emri" TEXT NOT NULL,
    "mbiemri" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "roli" TEXT NOT NULL DEFAULT 'user',
    "statusi" TEXT NOT NULL DEFAULT 'Aktiv',
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "matches" (
    "id" SERIAL NOT NULL,
    "turneu_id" INTEGER NOT NULL,
    "ekipi_shtepiak_id" INTEGER NOT NULL,
    "ekipi_mysafir_id" INTEGER NOT NULL,
    "data_ndeshjes" DATE NOT NULL,
    "ora_fillimit" TIME(6),
    "fusha_id" INTEGER,
    "statusi" TEXT NOT NULL DEFAULT 'Planifikuar',
    "faza" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "matches_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "matchreferees" (
    "id" SERIAL NOT NULL,
    "ndeshja_id" INTEGER NOT NULL,
    "gjyqtari_id" INTEGER NOT NULL,
    "roli" TEXT NOT NULL,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "matchreferees_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "matchresults" (
    "id" SERIAL NOT NULL,
    "ndeshja_id" INTEGER NOT NULL,
    "golat_shtepiak" INTEGER NOT NULL DEFAULT 0,
    "golat_mysafir" INTEGER NOT NULL DEFAULT 0,
    "fitues_id" INTEGER,
    "shenime" TEXT,
    "mvp_id" INTEGER,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "matchresults_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "players" (
    "id" SERIAL NOT NULL,
    "emri" TEXT NOT NULL,
    "mbiemri" TEXT NOT NULL,
    "data_lindjes" DATE,
    "ekipi_id" INTEGER,
    "pozicioni" TEXT,
    "numri" INTEGER,
    "gjatesia" DECIMAL(5,2),
    "pesha" DECIMAL(5,2),
    "kombesia" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "players_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "referees" (
    "id" SERIAL NOT NULL,
    "emri" TEXT NOT NULL,
    "mbiemri" TEXT NOT NULL,
    "email" TEXT,
    "telefoni" TEXT,
    "nr_licences" TEXT,
    "kategoria" TEXT,
    "pervoja_vitesh" INTEGER,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "referees_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sports" (
    "id" SERIAL NOT NULL,
    "emertimi" TEXT NOT NULL,
    "pershkrimi" TEXT,
    "numri_lojtareve" INTEGER NOT NULL,
    "lloji" TEXT NOT NULL,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "standings" (
    "id" SERIAL NOT NULL,
    "turneu_id" INTEGER NOT NULL,
    "ekipi_id" INTEGER NOT NULL,
    "ndeshjet_luajtura" INTEGER NOT NULL DEFAULT 0,
    "fitoret" INTEGER NOT NULL DEFAULT 0,
    "barazimet" INTEGER NOT NULL DEFAULT 0,
    "humbjet" INTEGER NOT NULL DEFAULT 0,
    "golat_shenuar" INTEGER NOT NULL DEFAULT 0,
    "golat_pranuar" INTEGER NOT NULL DEFAULT 0,
    "piket" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "standings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "teams" (
    "id" SERIAL NOT NULL,
    "emertimi" TEXT NOT NULL,
    "logoja" TEXT,
    "trajneri" TEXT,
    "kontakti" TEXT,
    "email" TEXT,
    "qyteti" TEXT,
    "data_themelimit" DATE,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "teams_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tournamentregistrations" (
    "id" SERIAL NOT NULL,
    "turneu_id" INTEGER NOT NULL,
    "ekipi_id" INTEGER NOT NULL,
    "data_regjistrimit" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "statusi" TEXT NOT NULL DEFAULT 'N├½ Pritje',
    "tarifa_paguar" DECIMAL(10,2) DEFAULT 0.00,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tournamentregistrations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tournaments" (
    "id" SERIAL NOT NULL,
    "emertimi" TEXT NOT NULL,
    "sporti_id" INTEGER NOT NULL,
    "lloji" TEXT NOT NULL,
    "data_fillimit" DATE NOT NULL,
    "data_perfundimit" DATE NOT NULL,
    "lokacioni" TEXT,
    "organizatori_id" INTEGER,
    "cmimi_regjistrimit" DECIMAL(10,2) DEFAULT 0.00,
    "statusi" TEXT NOT NULL DEFAULT 'Regjistrimi',
    "pershkrimi" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tournaments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "venues" (
    "id" SERIAL NOT NULL,
    "emertimi" TEXT NOT NULL,
    "adresa" TEXT,
    "qyteti" TEXT NOT NULL,
    "kapaciteti" INTEGER,
    "lloji_siperfaqes" TEXT,
    "ndricimi" BOOLEAN DEFAULT false,
    "statusi" TEXT NOT NULL DEFAULT 'Aktiv',
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "venues_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "matchreferees_ndeshja_id_gjyqtari_id_key" ON "matchreferees"("ndeshja_id", "gjyqtari_id");

-- CreateIndex
CREATE UNIQUE INDEX "matchresults_ndeshja_id_key" ON "matchresults"("ndeshja_id");

-- CreateIndex
CREATE UNIQUE INDEX "referees_email_key" ON "referees"("email");

-- CreateIndex
CREATE UNIQUE INDEX "referees_nr_licences_key" ON "referees"("nr_licences");

-- CreateIndex
CREATE UNIQUE INDEX "standings_turneu_id_ekipi_id_key" ON "standings"("turneu_id", "ekipi_id");

-- CreateIndex
CREATE UNIQUE INDEX "teams_email_key" ON "teams"("email");

-- CreateIndex
CREATE UNIQUE INDEX "tournamentregistrations_turneu_id_ekipi_id_key" ON "tournamentregistrations"("turneu_id", "ekipi_id");

-- AddForeignKey
ALTER TABLE "matches" ADD CONSTRAINT "matches_ekipi_mysafir_id_fkey" FOREIGN KEY ("ekipi_mysafir_id") REFERENCES "teams"("id") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "matches" ADD CONSTRAINT "matches_ekipi_shtepiak_id_fkey" FOREIGN KEY ("ekipi_shtepiak_id") REFERENCES "teams"("id") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "matches" ADD CONSTRAINT "matches_fusha_id_fkey" FOREIGN KEY ("fusha_id") REFERENCES "venues"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "matches" ADD CONSTRAINT "matches_turneu_id_fkey" FOREIGN KEY ("turneu_id") REFERENCES "tournaments"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "matchreferees" ADD CONSTRAINT "matchreferees_gjyqtari_id_fkey" FOREIGN KEY ("gjyqtari_id") REFERENCES "referees"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "matchreferees" ADD CONSTRAINT "matchreferees_ndeshja_id_fkey" FOREIGN KEY ("ndeshja_id") REFERENCES "matches"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "matchresults" ADD CONSTRAINT "matchresults_fitues_id_fkey" FOREIGN KEY ("fitues_id") REFERENCES "teams"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "matchresults" ADD CONSTRAINT "matchresults_mvp_id_fkey" FOREIGN KEY ("mvp_id") REFERENCES "players"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "matchresults" ADD CONSTRAINT "matchresults_ndeshja_id_fkey" FOREIGN KEY ("ndeshja_id") REFERENCES "matches"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "players" ADD CONSTRAINT "players_ekipi_id_fkey" FOREIGN KEY ("ekipi_id") REFERENCES "teams"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "standings" ADD CONSTRAINT "standings_ekipi_id_fkey" FOREIGN KEY ("ekipi_id") REFERENCES "teams"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "standings" ADD CONSTRAINT "standings_turneu_id_fkey" FOREIGN KEY ("turneu_id") REFERENCES "tournaments"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "tournamentregistrations" ADD CONSTRAINT "tournamentregistrations_ekipi_id_fkey" FOREIGN KEY ("ekipi_id") REFERENCES "teams"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "tournamentregistrations" ADD CONSTRAINT "tournamentregistrations_turneu_id_fkey" FOREIGN KEY ("turneu_id") REFERENCES "tournaments"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "tournaments" ADD CONSTRAINT "tournaments_organizatori_id_fkey" FOREIGN KEY ("organizatori_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "tournaments" ADD CONSTRAINT "tournaments_sporti_id_fkey" FOREIGN KEY ("sporti_id") REFERENCES "sports"("id") ON DELETE RESTRICT ON UPDATE NO ACTION;

